#app 
{
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    //this is where we use the variable
    color: $black;
    margin-top: 60px;
}

.title-1 
{
    font-size: 1.3em;
}

.w-100
{
    width: 100%;
}

.btn-black
{
    border-radius: 0;
    background-color: $black;
    color: $white;
    border: 1px solid $black;
    box-shadow: none;
    outline: none;
    font-size: 0.8em;
}
.btn-white
{
    border-radius: 0;
    background-color: $white;
    color: $black;
    border: 1px solid $black;
    box-shadow: none;
    outline: none;
    font-size: 0.8em;
}


.card 
{
    border-radius: 0;
}

.relative
{
    position: relative;
}