<template>
  <transition name="review-popup">
    <div class="review-popup" @click="$emit('close')">
      <div class="review-popup_content" @click.stop>
        <div class="review-popup_content__header">
          <span class="btn-close" @click="$emit('close')">&times;</span>
          <slot name="header"></slot>
        </div>
        <div class="review-popup_content__body">
          <slot>Пусто</slot>
        </div>
        <div class="review-popup_content__footer">
          <slot name="footer"></slot>
        </div>           
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "ReviewPopup",
  mounted() {
    document.body.addEventListener("keyup", e => {
      if (e.keyCode === 27) this.$emit("close");
    });
  }
};
</script>

<style lang="scss" scoped>
//animation
.review-popup-enter,
.review-popup-leave-active {
  opacity: 0;
}
.review-popup-enter .review-popup_content,
.review-popup-leave-active .review-popup_content {
  transform: scale(1.2);
}

.review-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease;
  z-index: 998;
  background-color: rgba(109, 109, 109, 0.315);
  &_content {
    position: relative;
    min-width: 200px;
    max-width: 900px;
    background-color: #fff;
    transition: all 0.3s ease;
    z-index: 999;
    overflow: hidden;
    overflow-y: auto;
    max-height: 90vh;

    scrollbar-width: thin;

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #9e9e9e;
    }

    &__header {
      padding: 15px;
      .btn-close {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 5px;
        font-weight: bold;
        font-size: 22px;
        line-height: 1;
        color: #666;
        &:hover {
          color: #333;
        }
      }
    }
    &__body {
      padding: 15px;
      padding-top: 5px; 
    }
  }
}
.full-review-popup .review-popup_content {
    max-width: 1000px;
}
</style>
