<template>
  <div class="review-list-sort card mt-4">
    <nav class="navbar navbar-expand navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Дата</a>
          </li>
        </ul>
        <span class="navbar-text">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" :class="{active: reviewSort == 'desc'}">
              <a class="nav-link" href="javascript:void(0);" @click="resort('desc')">По убыванию</a>
            </li>
            <li class="nav-item" :class="{active: reviewSort == 'asc'}">
              <a class="nav-link" href="javascript:void(0);" @click="resort('asc')">по возрастанию</a>
            </li>
          </ul>
        </span>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: "ReviewListSort",
  computed: {
    reviewSort () {
      return this.$store.getters.getReviewSort;
    },
  },
  methods: {
    resort(val){
      this.$store.dispatch("actionReviewSort", val)
        .then((res)=>{
          if (res)
            this.$store.dispatch("actionReviewList")
        });
    }
  },
};
</script>


<style lang="scss">
</style>