<template>
  <div>
    <ReviewListSort />

    <ReviewItem 
      v-for="review in reviewList" 
      :key="review.id"
      :item="review"
     />

    <ReviewListNav />
  </div>
</template>

<script>
import ReviewItem from './ReviewItem.vue'
import ReviewListSort from './ReviewListSort.vue'
import ReviewListNav from './ReviewListNav.vue'

export default {
  name: "ReviewList",
  components: {
    ReviewItem,
    ReviewListSort, 
    ReviewListNav, 
  },
  created() {
    this.$store.dispatch("actionReviewList");
  },
  computed: {
    reviewList () {
      return this.$store.getters.getReviewList;
    },
  },
};
</script>


<style lang="scss">

</style>