<template>
  <div class="review-list-nav mb-4">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" :class="{disabled: page == 1}" @click="repage(page - 1)" href="javascript:void(0);" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item" v-for="i in pages" :key="i" :class="{active: i == page}"><a class="page-link" @click="repage(i)" href="javascript:void(0);">{{i}}</a></li>
        <li class="page-item">
          <a class="page-link" :class="{disabled: page == pages}" @click="repage(page + 1)" href="javascript:void(0);" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>
export default {
  name: "ReviewListNav",
  computed: {
    page() {
      return this.$store.getters.getReviewPage;
    },
    pages() {
      return this.$store.getters.getReviewPages;
    },
  },
  methods: {
    repage(val) {
      this.$store.dispatch("actionReviewPage", val)
        .then((res)=>{
          if (res)
            this.$store.dispatch("actionReviewList")
        });
    },
  },
};
</script>


<style lang="scss">
.page-link.disabled
{
  background-color: #d8d8d8;
  color: $black;
}
</style>