<template>
  <div class="form-group review-form-file-uploud">
    <label for="review-form-file-uploud">Загрузка картинок</label>
    <div class="relative">
      <button type="button" @click="clickSetFile" class="review-form-file-btn btn btn-primary btn-black w-100 d-block">Выбрать</button>
      <input 
        class="form-control-file" 
        id="review-form-file-uploud" 
        type="file" 
        name="files" 
        ref="reviewFormFileUploud"
        @change="fileInputChange"
        accept=".png, .jpg, .gif"
      >
    </div>
    <div class="row mt-2">
      <div class="col-12">
        <ul class="list-group">
          <li class="list-group-item file-item" v-for="(item, i) in files" :key="i">
            <div class="row">
              <div class="col-8">
                {{item.name}} <span class="file-item__type" v-if="item.type.length > 0">({{item.type}})</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ReviewFormFileUploud",
  props: {
    files: {
      type: Array,
    }
  },
  methods: {
    clickSetFile () {
      
      const input = this.$refs.reviewFormFileUploud;
      
      input.click();

    },
    fileInputChange (event) {
      
      let files = Array.from(event.target.files);

      this.$emit("change", files.slice());
      
      const input = this.$refs.reviewFormFileUploud;
      
      input.type = 'text';
      input.type = 'file';

    }
  },
};
</script>


<style lang="scss">
.file-item__type
{
  color: $gray;
}
.review-form-file-btn 
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
</style>