<template>
  <div :class="`review-notification alert alert-${alertType}`" role="alert">
    {{text}}
  </div>
</template>

<script>
export default {
  name: "ReviewNotification",
  props: {
    text: {
      type: String,
      default: ''
    },
    alertType: {
      type: String,
      default: 'primary'
    },
  },
};
</script>

<style lang="scss" scoped>
.review-notification 
{
  position: fixed;
  top: 20px;
  right: 20px;
  transition: all 0.3s ease;
  z-index: 998;
}
</style>
