<template>
  <div class="review-item card">
    <div class="review-item-name">
      {{item.name}} / {{item.email}}
    </div>
    <div class="review-item-text">
      {{item.body}}
    </div>
    <div class="review-item-images">
      <div class="row">
        <div class="col-auto" v-for="item in item.files" :key="item">
          <img width="80" height="60" :src="domain + item" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ReviewItem",
  props: {
    item: {
      type: Object,
    },
  },
  computed: {
    domain () {
      return this.$store.getters.getDomain;
    },
  },
};
</script>


<style lang="scss">
.review-item
{
  text-align: left;
  margin: 15px 0;
  padding: 10px;
}
.review-item-name 
{
    font-size: 0.9em;
    color: $gray;
}
.review-item-images 
{
  padding: 10px 0;
}
.review-item-text 
{
  min-width: 320px;
  min-height: 40px;
}
</style>