<template>
  <form class="review-form card needs-validation" :class="{'was-validated': isValid}" @submit="checkForm">
    <h3 class="title-1">Добавить отзыв</h3>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="reviewFormName">Имя</label>
          <input
            type="text"
            class="form-control review-form-control"
            id="reviewFormName"
            required
            v-model="name"
            name="name"
          />
          <div class="invalid-feedback">Требуется указать имя.</div>
          <div class="text-danger" v-if="errors.name">Не верный формат</div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="reviewFormEmail">E-mail</label>
          <input
            type="email"
            required
            v-model="email"
            class="form-control review-form-control"
            id="reviewFormEmail"
          />
          <div class="invalid-feedback">Требуется указать E-mail.</div>
          <div class="text-danger" v-if="errors.email">Не верный формат</div>
        </div>
      </div>
    </div>
    <ReviewFormFileUploud @change="setFile" :files="files" />
    <div class="form-group">
      <label for="reviewFormText">Текст отзыва</label>
      <textarea class="form-control review-form-control" id="reviewFormText" 
            required
            v-model="body"></textarea>
      <div class="invalid-feedback">Требуется указать текст</div>
      <div class="text-danger" v-if="errors.body">Не верный формат</div>
    </div>
    <div class="row">
      <div class="col-6">
        <button type="submit" class="btn btn-primary btn-white w-100 d-block" @click="submit = 'actionReviewValid'">Пред. просмотр</button>
      </div>
      <div class="col-6">
        <button type="submit" class="btn btn-primary btn-black w-100 d-block" @click="submit = 'actionReviewAdd'">Отправить</button>
      </div>
    </div>
    <template v-if="Object.keys(itemReview).length > 0">
      <ReviewPopup @close="itemReview = {}">
        <ReviewItem 
          :item="itemReview"
        />
      </ReviewPopup>
    </template>
    <template v-if="isResult">
      <ReviewNotification text="Отзыв успешно добавлен" alertType="success" />
    </template>
  </form>
</template>

<script>
import ReviewItem from './ReviewItem.vue'
import ReviewPopup from './ReviewPopup.vue'
import ReviewNotification from './ReviewNotification.vue'
import ReviewFormFileUploud from './ReviewFormFileUploud'

export default {
  name: "ReviewForm",
  components: {
    ReviewItem,
    ReviewPopup,
    ReviewNotification,
    ReviewFormFileUploud,
  },
  data () {
    return {
      errors: {
        name: false,
        email: false,
        body: false,
      },
      name: 'Dima',
      email: 'example@test.com',
      body: '123321',
      submit: 'actionReviewAdd',
      files: [],
      isValid: false,
      itemReview: {},
      isResult: false,
    }
  },
  computed: {
    validName () {
        return this.name.length > 0;
    },
    validBody () {
      return this.body.length > 0;
    },
    validEmail () {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(this.email);
    },
  },
  methods: {
    checkForm: function (event) {
      
      let vm = this;
      
      event.preventDefault();
      event.stopPropagation();
      vm.isValid = true;
      vm.isResult = false;
      vm.errors = {
        name: false,
        email: false,
        body: false,
      };
      
      if (!vm.validName || !vm.validBody || !vm.validEmail)
      {
        return;
      }

      let form = new FormData();

      if (vm.files.length > 0)
      {
        vm.files.forEach((element, index) => {
          form.append(`image[${index}]`, element);
        });
      }

      form.append('name', vm.name);
      form.append('email', vm.email);
      form.append('body', vm.body);
      
      this.$store.dispatch(this.submit, form).then(data => {

        if (data.errors != undefined)
        {
          let keys = Object.keys(data.errors);

          for (let n of keys)
          {
            switch (n)
            {
              case 'name':
              case 'email':
              case 'body':
                vm.errors[n] = true;
              break;
            }
          }
        }
        else if (data.result == 'OK')
        {
          vm.itemReview = {name: vm.name, email: vm.email, body: vm.body, files: vm.files};
        }
        else if (data.result.id > 0)
        {
          vm.isResult = true;
          vm.isValid = false;

          vm.name = '';
          vm.email = '';
          vm.body = '';
          vm.files = [];
          

          setTimeout(() => {vm.isResult = false}, 3000);

          this.$store.dispatch("actionReviewList");
        }
      });


    },
    setFile (files) {
      this.files = files;
    },
  },
};
</script>


<style lang="scss">
.review-form 
{
  padding: 10px;
  text-align: left;
}
.review-form-control 
{
  border-radius: 0;
}
</style>