<template>
  <div id="app">
    
    <div class="container">
      <h1 class="text-left mb-4">Тестовое задание</h1>
      <div class="row">
        <div class="col-12">
          <ReviewForm />
        </div>
        <div class="col-12">
          <ReviewList />
        </div>
      </div>
    </div>
    
  </div>
</template>

<script>
import ReviewForm from './components/ReviewForm.vue'
import ReviewList from './components/ReviewList.vue'

export default {
  name: 'App',
  components: {
    ReviewForm,
    ReviewList,
  }
}
</script>

<style lang="scss">
@import "~@/assets/scss/styles.scss";
</style> 
